<h2 class="screen-align">Sefscreen</h2>
<div id="margin" class="">
    <section id="icd31" class="gpd-section">
        <div id="ia4fg" class="gpd-container gpd-cnt">
            <div id="i2f97e" class="gdp-row gpd-grid">
                <div id="i5cg5l" class="cell gpd-clm">
                    <div id="i8yso" class="gdp-row gpd-grid">
                        <div id="i442h" class="cell gpd-clm">
                            <div id="igm1c" class="gdp-row gpd-grid">
                                <div id="icif1" class="cell gpd-clm">
                                    <div id="i047o" class="cell">
                                        <div id="ijh0h" class="row">
                                            <div id="i0vkz" class="cell">
                                                <div id="idlpi" class="gpd-image-block">
<a href="#" id="template-ircxb" class="">
<label for="fileInput" id="template-ilqme" class="hoverable">
<img alt="" [src]="url ? url : ''" id="template-idqbb" class="gpd-image-block"/>
<div id="template-izdhs" class="hover-text">
</div>
<div id="template-izuxc" class="background">
</div>
</label>
<input id="fileInput" type="file" (change)="onSelectFile($event)" class=""/>
</a>

                                                </div>
                                            </div>
                                            <div id="ial4t" class="cell">
                                                
<h1 id="injea" class="gpd-header">
Welcome</h1>

                                                
<h2 id="itdvm" class="gpd-header">

                                                    {{ firstName }} {{ lastName }}
                                                </h2>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="in1a5" class="cell gpd-clm"></div>
                                <div id="ikrb3" class="cell gpd-clm"></div>
                                <div id="it5hu8" class="cell gpd-clm">
                                    <div id="isrmst" class="gdp-row gpd-grid">
                                        <div id="iv9eqe" class="cell gpd-clm">
                                            <div id="ibaq13" class="gdp-row gpd-grid">
                                                <div id="ido2in" class="cell gpd-clm">
                                                    <div id="iy2q1l" class="gpd-text"></div>
                                                </div>
                                                <div id="ib3enc" class="cell gpd-clm">
                                                    <div id="icttqh" class="gpd-text"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="i4oqyo" class="cell gpd-clm">
                                            <div id="iypifi" class="gdp-row gpd-grid">
                                                <div id="itz4wx" class="cell gpd-clm">
                                                    <div id="igmt4d" class="gpd-text">​​​​​​​</div>
                                                </div>
                                                <div id="irzvgc" class="cell gpd-clm">
                                                    <div id="ie5wwu" class="gpd-text"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="i570ol" class="cell gpd-clm">
                                            <div id="ioi3r9" class="gdp-row gpd-grid">
                                                <div id="iuedkm" class="cell gpd-clm">
                                                    <div id="is7lqd" class="gpd-text">​​​​​​​</div>
                                                </div>
                                                <div id="iz53pq" class="cell gpd-clm">
                                                    <div id="i77wks" class="gpd-text"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ikjxf" class="cell gpd-clm">
                            <div id="ii15qx" class="gdp-row gpd-grid">
                                <div id="ina4mr" class="cell gpd-clm">
                                    <div id="im2wtk" class="gdp-row gpd-grid">
                                        <div id="i8mmlq" class="cell gpd-clm"></div>
                                        <div id="idzk0g" class="cell gpd-clm">
                                            <img id="iars4h" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/2dbed4ba816240389e400f379feb9f36_group_19296.png"
                                            class="" />
                                        </div>
                                    </div>
                                </div>
                                <div id="i1xb0n" class="cell gpd-clm">
                                    <img id="iv3mmv" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/248fb4de173b4603b11a11cc9987ebbc_group_19333.png"
                                    class="" />
                                </div>
                                <div id="ijbnne" class="cell gpd-clm">
                                    <div id="ioltov" class="gdp-row gpd-grid">
                                        <div id="irojtb" class="cell gpd-clm">
                                            <div id="i4zxqi" class="gpd-text">Open issues</div>
                                            <div id="i9qjsu" class="gpd-text">25</div>
                                        </div>
                                        <div id="i5xcah" class="cell gpd-clm">
                                            <div id="i9ts8b" class="gpd-text">Closed issues</div>
                                            <div id="i0jffy" class="gpd-text">15</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="id2e8o" class="gdp-row gpd-grid">
                        <div id="itswa2" class="cell gpd-clm">
                            <div id="id2shp" class="gdp-row gpd-grid">
                                <div id="ieorbi" class="cell gpd-clm">
                                    <div id="i4z3j3" class="gpd-text">Progress Chart</div>
                                </div>
                                <div id="in3a6" class="cell">
                                    <figure id="template-iakab" class="highcharts-figure">
                                        <div id="container" class="card"></div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="iub1he" class="gdp-row gpd-grid">
                        <div id="isq7ac" class="cell gpd-clm">
                            <div id="ikay1v" class="table">
                                <div id="template-iavg9" class="">
                                    <div id="template-i3joh" class="row">
                                        <div id="template-ip3ym" class="cell"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>