.margin {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(247, 243, 243);
    display: grid;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    width: 100%;
}

.hoverable {
    position: relative;
    display: block;
    cursor: pointer;
}

.fileInput {
    display: none;
}

.container {
    height: 400px;
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.highcharts-figure {
    min-width: 310px;
    max-width: 800px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.ijh0h {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 30px 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.i0vkz {
    flex-basis: 64.6%;
}

.ial4t {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    flex-basis: 82%;
}

.itdvm {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    font-size: 35px;
    font-weight: 300;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.injea {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-weight: 300;
    font-size: 19px;
    letter-spacing: 2px;
    color: rgba(85, 85, 85, 0.5);
}

.i047o {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    max-width: 750px;
    align-self: flex-start;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.in3a6 {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    flex-basis: 82%;
}

.i0vkz {
    height: 250px;
}

.i0vkz {
    height: 200px;
}

.gpd-container {
    width: 90%;
    padding-top: 25px;
    padding-right: 0px;
    padding-bottom: 25px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    max-width: 1200px;
}

.gpd-section {
    display: flex;
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
}

.gpd-image-block {
    height: 200px;
    background-color: rgb(204, 204, 204);
    width: auto;
}

.gpd-text {
    display: inline-block;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    color: inherit;
    vertical-align: top;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    max-width: 100%;
}

.card {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-bottom: 15px;
}

.gdp-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    min-height: 75px;
    flex-direction: row;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    min-height: 75px;
    flex-direction: row;
}

.gdp-row {
    flex-wrap: wrap;
}

.row {
    flex-wrap: wrap;
}

.cell {
    flex-grow: 1;
    flex-basis: 100%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.gpd-cnt {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.gpd-clm {
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
}

.gpd-grid {
    min-height: auto;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
}

.icd31 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background-color: rgb(255, 255, 255);
}

.ia4fg {
    max-width: 100%;
    margin-top: 0px;
    margin-right: 35px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    font-family: Montserrat, sans-serif;
}

.i8yso {
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.i442h {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.ikjxf {
    flex-basis: 36%;
}

.igm1c {
    flex-direction: column;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.icif1 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.in1a5 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 16px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.ikrb3 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-top-width: 1.5px;
    border-right-width: 1.5px;
    border-bottom-width: 1.5px;
    border-left-width: 1.5px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(230, 230, 230);
    border-right-color: rgb(230, 230, 230);
    border-bottom-color: rgb(230, 230, 230);
    border-left-color: rgb(230, 230, 230);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-top: 23px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.ii15qx {
    flex-direction: column;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-top-width: 1.5px;
    border-right-width: 1.5px;
    border-bottom-width: 1.5px;
    border-left-width: 1.5px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 35px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.ina4mr {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.im2wtk {
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
}

.i8mmlq {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.idzk0g {
    text-align: right;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.iars4h {
    color: black;
    width: 65%;
}

.it5hu8 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 23px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.is7lqd {
    font-weight: 600;
    line-height: 22px;
    font-size: 17px;
}

.iuedkm {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.i77wks {
    font-weight: 700;
    font-size: 22px;
}

.iz53pq {
    text-align: right;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.ioi3r9 {
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-right: 22px;
    padding-bottom: 10px;
    padding-left: 22px;
}

.i570ol {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(243, 243, 243);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 24px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.iy2q1l {
    font-weight: 600;
    line-height: 22px;
    font-size: 17px;
}

.ido2in {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.icttqh {
    font-weight: 700;
    font-size: 22px;
}

.ib3enc {
    text-align: right;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.ibaq13 {
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-right: 22px;
    padding-bottom: 10px;
    padding-left: 22px;
}

.iv9eqe {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(243, 243, 243);
    margin-top: 0px;
    margin-right: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.i4z3j3 {
    font-weight: 600;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 19px;
}

.i1xb0n {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: center;
    margin-top: 7px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.iv3mmv {
    color: black;
    width: 88%;
}

.ijbnne {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.ioltov {
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.i4zxqi {
    font-weight: 500;
    color: rgb(151, 151, 151);
    font-size: 15px;
    white-space: nowrap;
}

.i9qjsu {
    font-weight: 600;
    font-size: 22px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.irojtb {
    text-align: center;
}

.i9ts8b {
    font-weight: 500;
    color: rgb(151, 151, 151);
    font-size: 15px;
}

.i0jffy {
    font-size: 22px;
    font-weight: 600;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.i5xcah {
    text-align: center;
}

.igmt4d {
    font-weight: 600;
    line-height: 22px;
    font-size: 17px;
}

.itz4wx {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.ie5wwu {
    font-weight: 700;
    font-size: 22px;
}

.irzvgc {
    text-align: right;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.iypifi {
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-right: 22px;
    padding-bottom: 10px;
    padding-left: 22px;
}

.i4oqyo {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(243, 243, 243);
    margin-top: 0px;
    margin-right: 12px;
    margin-bottom: 0px;
    margin-left: 12px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.id2e8o {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 8px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.itswa2 {
    border-top-width: 1.5px;
    border-right-width: 1.5px;
    border-bottom-width: 1.5px;
    border-left-width: 1.5px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(230, 230, 230);
    border-right-color: rgb(230, 230, 230);
    border-bottom-color: rgb(230, 230, 230);
    border-left-color: rgb(230, 230, 230);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: rgb(255, 255, 255);
}

.isq7ac {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(241, 241, 241);
    border-right-color: rgb(241, 241, 241);
    border-bottom-color: rgb(241, 241, 241);
    border-left-color: rgb(241, 241, 241);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    box-shadow: rgba(174, 174, 174, 0.13) 0px 1px 5px 5px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 0px;
    padding-left: 7px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.iub1he {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.id2shp {
    flex-direction: column;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
}

.ieorbi {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
}

.i2f97e {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.i5cg5l {
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 30px;
}